<div id="nav_group">
  <p id="nav_title">管理員</p>
  <p id="nav_item">
    <%= link_to t("view.manager.administrator_register"),
        new_administrators_path,
        :class => "ajax-load" %>
  </p>
  <p id="nav_item">
    <%= link_to t("view.manager.administrator_login"),
        administrators_login_path,
        :class => "ajax-load" %>
  </p>
  <p id="nav_item">
    <%= link_to t("view.manager.administrator_logout"),
        administrators_logout_path,
        :class => "ajax-load" %>
  </p>
  <p id="nav_item">
    <%= link_to t("view.manager.administrator_type_new"),
        administrators_administrator_type_new_path,
        :class => "ajax-load" %>
  </p>
  <p id="nav_item">
    <%= link_to t("view.manager.administrator_list"),
        administrators_index_path,
        :class => "ajax-load" %>
  </p>
  <p id="nav_item">
    <%= link_to t("view.manager.administrator_type_list"),
        administrators_administrator_type_index_path,
        :class => "ajax-load" %>
  </p>
  <p id="nav_title">會員</p>
  <p id="nav_item">
    <%= link_to t("view.manager.member_list"),
        members_path,
        :class => "ajax-load" %>
  </p>
  <p id="nav_item">
    <%= link_to t("view.manager.member_new"),
        new_member_path,
        :class => "ajax-load" %>
  </p>
  <p id="nav_item">
    <%= link_to t("view.manager.member_login"),
        login_member_path,
        :class => "ajax-load" %>
  </p>
  <p id="nav_item">
    <%= link_to t("view.manager.member_logout"),
        logout_member_path,
        :class => "ajax-load" %>
  </p>
  <p id="nav_title">作者</p>
  <p id="nav_item">
    <%= link_to t("view.manager.author_list"),
        authors_path,
        :class => "ajax-load" %>
  </p>
  <p id="nav_item">
    <%= link_to t("view.manager.author_register"),
        new_author_path,
        :class => "ajax-load" %>
  </p>
  <p id="nav_item">
    <%= link_to t("view.manager.author_login"),
        login_author_path,
        :class => "ajax-load" %>
  </p>
  <p id="nav_item">
    <%= link_to t("view.manager.author_logout"),
        logout_author_path,
        :class => "ajax-load" %>
  </p>
  <p id="nav_title">出版社</p>
  <p id="nav_item">
    <%= link_to t("view.manager.publish_list"),
        publishs_path,
        :class => "ajax-load" %>
  </p>
  <p id="nav_item">
    <%= link_to t("view.manager.publish_register"),
        new_publish_path,
        :class => "ajax-load" %>
  </p>
  <p id="nav_item">
    <%= link_to t("view.manager.publish_login"),
        login_publish_path,
        :class => "ajax-load" %>
  </p>
  <p id="nav_item">
    <%= link_to t("view.manager.publish_logout"),
        logout_publish_path,
        :class => "ajax-load" %>
  </p>
  <p id="nav_item">
    <%= link_to t("view.manager.publish_account_list"),
        accounts_index_publish_path,
        :class => "ajax-load" %>
  </p>
  <p id="nav_item">
    <%= link_to t("view.manager.publish_account_new"),
        account_new_publish_path,
        :class => "ajax-load" %>
  </p>
  <p id="nav_item">
    <%= link_to t("view.manager.publish_manager_list"),
        managers_index_publish_path,
        :class => "ajax-load" %>
  </p>
  <p id="nav_item">
    <%= link_to t("view.manager.publish_manager_list_add"),
        manager_list_edit_publish_path,
        :class => "ajax-load" %>
  </p>
  <p id="nav_item">
    <%= link_to t("view.manager.publish_sales_list"),
        sales_index_publish_path,
        :class => "ajax-load" %>
  </p>
  <p id="nav_item">
    <%= link_to t("view.manager.publish_sales_add"),
        sales_list_edit_publish_path,
        :class => "ajax-load" %>
  </p>
  <p id="nav_item">
    <%= link_to t("view.manager.publish_author_list"),
        author_index_publish_path,
        :class => "ajax-load" %>
  </p>
  <p id="nav_item">
    <%= link_to t("view.manager.publish_author_add"),
        author_list_edit_publish_path,
        :class => "ajax-load" %>
  </p>
  <p id="nav_item">
    <%= link_to t("view.manager.publish_author_required_list"),
        author_required_list_publish_path,
        :class => "ajax-load" %>
  </p>
  <p id="nav_item">
    <%= link_to t("view.manager.publish_book_sales_account_type_list"),
        book_sales_account_type_index_publish_path,
        :class => "ajax-load" %>
  </p>
  <p id="nav_item">
    <%= link_to t("view.manager.publish_book_sales_account_type_add"),
        book_sales_account_type_new_publish_path,
        :class => "ajax-load" %>
  </p>
  <p id="nav_title">書籍資訊</p>
  <p id="nav_item">
    <%= link_to t("view.manager.book_list"),
        books_path,
        :class => "ajax-load" %>
  </p>
  <p id="nav_item">
    <%= link_to t("view.manager.book_series_new"),
        book_series_new_book_path,
        :class => "ajax-load" %>
  </p>
  <p id="nav_item">
    <%= link_to t("view.manager.book_new"),
        new_book_path,
        :class => "ajax-load" %>
  </p>
  <p id="nav_item"> Item IV</p>
  <p id="nav_item"> Item V</p>
  <p id="nav_item"> Item VI</p>
  <p id="nav_item"> Item VII</p>
  <p id="nav_item"> Item VIII</p>
</div>
