<h3>最高權限管理員</h3>
<% %>
<% @publish_manager_master_list.each do |publish, hash_value| %>
<%= publish.name %>
<ul>
<%  #@publish_companies.each do |publish_company| %>
<%hash_value.each do |value| %>
  <li>
<% %>

<%= value["email"] %>
 (<%= (value["last_name"].nil?)? "未設定名字": value["last_name"]%>)
  <% #link_to 'Edit', edit_publish_path(publish_company) %>
  <%= link_to "delete",
    manager_master_list_remove_publish_path(publish.id,value[:id]), :method => :delete%>
  </li>
<% end %>
</ul>

<% end %>
<h3>一般管理員</h3>
<% %>
<% @publish_manager_sales_list.each do |publish, hash_value| %>
<%= publish.name %>
<ul>
<%  #@publish_companies.each do |publish_company| %>
<%hash_value.each do |value| %>
  <li>
<% %>

<%= value["email"] %>
 (<%= (value["last_name"].nil?)? "未設定名字": value["last_name"]%>)
  <%= link_to "delete",
    manager_sales_list_remove_publish_path(publish.id,value[:id]), :method => :delete%>
  <% #link_to 'Edit', edit_publish_path(publish_company) %>
  </li>
<% end %>
</ul>

<% end %>
